{% extends "layout.html.twig" %}

{% block title %}
Accueil
{% endblock %}

{% block content %}
    <h1 id="home">Créer un nouvel article</h1>

    <form method="post">
        <p>
            <label for="title">Titre de l'article</label>
            <input type="text" name="title" id="title" />
        </p>
        <p>
            <label for="author">Auteur de l'article</label>
            <input type="text" name="author" id="author" />
        </p>
        <p>
            <label for="content">Contenu de l'article</label>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </p>
        <p>
            <input type="submit" value="Ajouter">
        </p>
    </form>

    {% if success is defined %}
        <p class="text-success">Message envoyé avec succès !</p>
        <button class="btn btn-link"><a href="{{ app.url_generator.generate('admin') }}">Retour à l'accueil</a></button>
    {% endif %}
{% endblock %}
