{% extends "layout.html.twig" %}

{% block title %}
Accueil
{% endblock %}

{% block content %}
    <h1 id="home">Editer - <span id="articleTitle"></span> </h1>

    <form>
        <p>
            <label for="title">Titre de l'article</label>
            <input type="text" name="title" id="title" value="" />
        </p>
        <p>
            <label for="author">Auteur de l'article</label>
            <input type="text" name="author" id="author" value="" />
        </p>
        <p>
            <label for="content">Contenu de l'article</label>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </p>
        <p>
            <input id="submit" type="submit" value="Modifier">
        </p>
    </form>
    <p class="text-success"></p>
    <button class="btn btn-link"><a href="{{ app.url_generator.generate('admin') }}">Retour à l'accueil</a></button>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>

    $(document).ready(function(){
        fetchData();
    })

    function fetchData(){
        $.get( "/api/blog/{{slug}}", function(data) {
            $('span#articleTitle').html(data.titre)
            $('input#title').attr("value", data.titre)
            $('input#author').attr("value", data.auteur)
            $('textarea#content').html(data.contenu)
        }).fail(function(error){
            alert(error.responseJSON)
            window.history.back()
        });
    }

    $('input#submit').click(function(event){
        event.preventDefault();
        postData();
    })
    function postData(){
        var titre = $('input#title').val()
        var auteur = $('input#author').val()
        var contenu = $('textarea#content').val()

        $.post( "/admin/edit/{{slug}}", {
            title: titre, 
            author: auteur, 
            content: contenu
        }, function(response){
            $('p.text-success').html(response)
        });
    }
    </script>
{% endblock %}