{% extends "layout.html.twig" %}

{% block title %}
Accueil
{% endblock %}

{% block content %}
    <h1 id="home">Administration - Silex</h1>
    <table class="table table-striped table-hover">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Slug</th>
            <th>Contenu</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.titre }}</td>
            <td>{{ post.auteur }}</td>
            <td>{{ post.slug }}</td>
            <td>{{ post.contenu }}</td>
            <td>{{ post.date }}</td>
            <td><a href="admin/edit/{{ post.slug }}">Editer</a> / <a href="admin/delete/{{ post.slug }}">Supprimer</a></td>
        </tr>
    {% endfor %}
    </table>

    <button onclick="location.href='admin/add'" class="btn centered my-2">Ajouter un article</button>
{% endblock %}
