body{
  background-color: rgb(238, 238, 238);
}
h1{
  text-align: center;
  margin: 20px;
}
.blog-box{
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 50px 30px;
  padding: 20px;
}

.jc-c {
  justify-content: center;
}