{% extends "layout.html.twig" %}

{% block title %}
Blog
{% endblock %}

{% block content %}
  <h1>Posts</h1>
  <div class="columns jc-c">
    {% for post in posts %}
      <div class="column col-3 blog-box m-5 text-center py-5">
      <h2>{{ post.titre }}</h2>
      <p>
          <a href="{{ post.slug }}"><button class="btn">Lire l'article</button></a>
      </p>
      </div>
    {% endfor %}
  </div>
{% endblock %}